* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: black;
    text-align: center;
}

.img-logo {
    display: block;
    margin: 156px auto;
}

h2 {
    text-align: center;
    color: #FFF;
    margin-top: 126px;
    margin-bottom: 29px;
    font-weight: 400;
    font-size: 32px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.input-min,.input-max {
    appearance: none;
    font-size: 30px;
    color: #FFF;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.25);
    display: flex;
    width: 342px;
    height: 74px;
    padding-top: 13px;
    padding-left: 16px;
}

.input-max {
    margin-left: 62px;
}

.drawer {
    display: flex;
    justify-content: center;
}

::placeholder {
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    flex-shrink: 0;
    opacity: 0.7;
    border: none;
}

button:hover {
    background-color: #2d3504
}

.home-button {
    border-radius: 10px;
    background: #AEC346;
    box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
    display: block;
    width: 342px;
    height: 72px;
    padding: 0px 76px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin: 79px auto;
    cursor: pointer;
    margin-bottom: 187px;
    margin-top: 79px;
}